<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css()}}
</head>

<body>
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <h1>Add a New Recipe!</h1>
            <div class="links">
                <a href="/dashboard">back to recipes</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    
        <form action="/recipes/process" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages: %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" value="">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="instructions">Instructions</label>
                <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="date_cooked">Date Cooked:</label>
                <input type="date" name="date_cooked" id="date_cooked" value="1900-01-01">
            </div>
            <div>
                <label for="under_30_min">Under 30 Minutes?</label>
                <input type="radio" name="under_30_min" id="under_30_min" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" name="under_30_min" id="under_30_min" value="No" checked>
                <label for="no">No</label>
            </div>
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
</body>

</html>